aside {
    width : 20%;
    position: absolute;
    left: 0;
    border : 1px solid green;
    height: 70vh;
    top : 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

aside:hover {
    right: 0;
    transition: all .3s ease-in-out;
}

aside ul li, ul {
    list-style-type: none;
    margin : 0; 
    padding: 0;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .3rem;
}
.folder-list {
    transition: all .3s ease-in-out;
    position: relative;
    cursor : pointer;
    color : aliceblue;
    border: 1px solid green;
    border-radius: 1rem;
    min-height: 5rem;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.folder-list:hover {
    transition: all .3s ease-in-out;
    background-color: #ffffff0f;
}
.file-list, .file-list-empty {
    margin-left: .5rem ;
    opacity: .5;
    font-size: 1.125rem;
    font-style: italic;
}
.file-list:hover {
    background-color: rgba(240, 248, 255, 0.257);

}
a {
    text-decoration: none;
    color : aliceblue;
}
.files-count-badge {
    position: absolute;
    /* top: ; */
    left: -1.5rem;
    border-radius : 1rem;
    font-size: .8rem;
    padding: .3rem .5rem;
    background-color: green;
    color: aliceblue;
}