.confirm-delete-modal {
    position: absolute;
    font-size: 1.8rem;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.509);
}
.btns-container {
    display: flex;
    gap: 1rem;
}
.cancel-btn:hover {
    background-color: grey;
}