:root {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: #242424;
}
html {
    background-color: #242424;
}
body {
    min-height: 100vh;
    background-color: #242424;
    position: relative;
    margin: 0;
}

header {
    background: url("https://source.unsplash.com/1290x900?city-night");
    height: 30vh;
    background-size: cover;
    width: 100vw;
    background-repeat: no-repeat;
    position: relative;
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
    box-sizing: border-box;
}
header::after {
    content: "Bonjour !";
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 3rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header > * {
}
main {
    min-width: 100vw;
    height: calc(100% - 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #242424;
}
a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

button {
    background-color: green;
    padding: 1rem 0.5rem;
    min-width: 15rem;
    border-radius: 2rem;
    font-size: 1.3rem;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
    color: aliceblue;
}
button:hover {
    transform: translateY(-5px);
    transition: all 0.2s ease;
    box-shadow: 0px 5px 8px 2px rgba(0 0 0 / 0.82);
}
