.files-main-wrapper {
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem;
}

.file {
    background-color: #242424;
    color: aliceblue;
    font-size: 1.225rem;
    border: 1px solid white;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    height: 250px;
    position: relative;
    
}
.file-body {
    padding: 1rem;
    /* min-height: 100%; */
}
.file-title {
    font-size:1.5rem;
}
.file-slug {
    font-size:1.2rem;
    text-align: left;
    font-weight: 200;
    font-style: italic;
    opacity: .8;
}
.img-container {
    height: 50%;
    object-fit: cover;
    overflow: hidden;
}
.file-img {
    object-fit: cover;
    min-width: 100%;
    transition: all .3s ease ;

}
.file:hover .file-img {
    transform: scale(1.03);
    transition: all .3s ease;
}