.body {
    padding: 0;
    margin: 0;
}
html {
    min-height: 100vh;
    background-color: #242424;
}

.single-file-main-wrapper {
    background-color: #242424;
    margin: 0;
    padding: 0;
    color: aliceblue;
}
.single-file-title {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid aliceblue;
    padding: 1rem;
    width: min(70vw, 100%);
    margin: 0 auto;
}
.single-file-slug {
    font-size: 1.5rem;
    text-align: right;
    font-style: italic;
    opacity: .7;
    font-weight: 300;
    padding: 1rem;
    width: min(70vw, 100%);
    margin: 0 auto;
}