aside {
    border-left : 5px double var(--primary-color);
    background-color: rgba(0, 0, 0, 0.125);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    color : aliceblue;
    position: absolute;
    right: -9rem;
    top: 30%;
    height: 70%;
    padding: 2rem;
    transition: all .3s ease-in;
    overflow-y: scroll;
    width: 20rem;
}
aside > * {
    opacity: .3;
    transition: all .3s ease-in-out;
}
aside:hover {
    right: 0;
    transition: all .3s ease-in-out;
}
aside:hover > * {
    transition: all .3s ease-in-out;
    opacity: 1;
}
aside ul li, ul {
    list-style-type: none;
    margin : 0; 
    padding: 0;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .3rem;
}
.folder-list {
    transition: all .3s ease-in-out;
}
.folder-list:hover {
    transition: all .3s ease-in-out;
    transform: translate(5px);
}
.file-list, .file-list-empty {
    margin-left: .5rem ;
    opacity: .5;
    font-size: 1.125rem;
    font-style: italic;
}
.file-list:hover {
    background-color: rgba(240, 248, 255, 0.257);

}
a {
    text-decoration: none;
    color : aliceblue;
}
.files-count-badge {
    border-radius : 50%;
    padding: .5rem 1rem;
    background-color: green;
    /* font-size: .8rem; */
    color: aliceblue;
    /* margin: .5rem; */
}