.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.folders-main-wrapper {
    min-width: 80%;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 2rem;
    margin-right: auto;
}

.folder {
    padding: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    color: aliceblue;
    min-width: 10rem;
    min-height: 2.5rem;
    text-align: left;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    position: relative;
    font-size: 1.225rem;
    text-transform: initial;
    border-bottom: 1px solid aliceblue;
    text-transform: uppercase;
}
.folder-add {
    justify-content: center;
    min-width: 3rem;
    background-color: var(--primary-color);
    border-bottom: none;
    border-radius: .5rem;
    margin-left: 1rem;
}
.folder-add:hover {
    transition: all 0.2s ease;
    box-shadow: 0px 5px 8px 2px rgba(0 0 0 / 0.82);
}
.folder > i {
    color: aliceblue;
    font-size: 2rem;
}

.folder:hover {
    color: green;
    border-color: green;
    /* transform: translateY(-5px); */
    transition: all 0.3s ease;
}
.file-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* border : 1px solid red; */
    width: min(100vw, 100%);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
.file-card {
    background-color: rgb(240, 248, 255);
    padding: 1rem;
    margin: 1rem;
    height: 13rem;
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative ;
    transition : all .3s ease;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid aliceblue;
    opacity: .9;
    box-shadow: 1px 0px 10px  rgba(0, 0, 0, 0.426);
}
.file-card:hover {
    transform: translateY(-5px);
    box-shadow: 1px 10px 10px  rgba(0, 0, 0, 0.426);
    transition : all .3s ease;
    opacity: 1;
}
.file-card:hover .file-card-navbar {
    transition : all .3s ease;
    color: red;
}
.file-card:hover .file-card-date {
    transition : all .3s ease;
    opacity: 0;
}
.file-card:hover .file-card-date::after {
    transition : all .3s ease;
    opacity: 1;
}
.file-card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-width: 100%;
    /* border: 1px solid green; */
}
.file-card-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap : 1rem;
    font-size: 1.5rem;
    /* color: rgba(255, 0, 0, 0.507); */
}
.file-card-title {
    font-weight: 800;
    font-size: 1.5rem;
    text-align: left;
    min-width: 100%;
    margin:0;
    margin-bottom: 1rem;
    text-transform: capitalize;
}
.file-card-slug {
    /* font-weight: 100; */
    font-size: 1.2rem;
    text-align: left;
    min-width: 100%;
    margin: 0;
    opacity: .8;
}
.file-card-date {
    font-weight: 100;
    font-size: 1rem;
    text-align: right;
    min-width: 100%;
    font-style: italic;
    opacity: .8;
    position: relative;
}
/*  */
.file-card-main {
    min-width: 100%;
    /* border: 1px solid red; */
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
}

a > * {
    color : black;
}